.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 420px;
  width: 100vw;
  height: 100vh;
  background-color: #f7f7f7;
}

input {
  border: 1px solid #ff2341;
  border-radius: 13px;
  margin: 10px 0;
  padding: 15px 20px;
  width: 80%;
  box-sizing: border-box;
}

.button {
  background-color: #ff2341;
  color: white;
  border: none;
  border-radius: 13px;
  margin: 20px 0;
  padding: 15px 20px;
  width: 80%;
  box-sizing: border-box;
  font-size: 20px;
}
